.post{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.items {
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: normal;
    align-items: start;
}

.items img {
    align-items: start;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.postMessage {
    font-weight: 500;
}

.postMessage .name{
    color: var(--text-secondary);
}
.postMessage .message{
    color: var(--text-primary);
}

.reactions {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-around;
}