.items img {
    width: 70px;
    height: 70px;
    border-radius: 40px;
    /*border: 1px solid gray;*/
}

.profile {
    display: flex;
    width: 260px;
    flex-direction: row;
    justify-content: left;
    align-items: start;
}

.info {
    display: flex;
    width: 260px;
    flex-direction: column;
    justify-content: left;
    align-items: start;
}

.info a {
    text-decoration: none;
    color: black;
}

.name{
    font-weight: bold;
}

.buttonsArea {
    display: flex;
    width: 170px;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}