.postBlock {
    padding: 10px;
}

.posts {
    margin-top: 10px;
}

.postBlock textArea{
    width:1000px;
    max-width:950px;
    min-width:950px;
    height: 60px;
    max-height:60px;
    min-height:60px;
}