

.header {
    grid-area: h;
    /*background-color: #20232a;*/
    background: var(--bg-secondary);
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
    opacity: 0.99;
}

.logoArea {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 2px;
}

.header img {
    display: flex;
    width: 70px;
    height: 70px;
}

.loginBlock {
    display: flex;
    align-items: center;
    padding-right: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3ch;
    font-size: 15px;
}

.loginBlock a {
    /*color: gray;*/
    color: var(--text-primary);;
    text-decoration: none;
}

.loginBlock a:hover {
    /*color: white;*/
    color: var(--text-secondary)
}

.items {
    display: flex;
    width: 140px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}