.header {
    grid-area: h;
    background-color: #20232a;
    border-radius: 4px;
}

.header img {
    float: left;
    padding: 2px;
    width: 70px;
    height: 70px;
}

.loginBlock{
    float: right;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.3ch;
}

.loginBlock a{
    color: white;
}