.navbar {
    grid-area: n;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 230px; /*need to fix*/
    height: fit-content;
    background: var(--bg-main);
    border-radius: 4px;
    grid-row-gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.95;
}

.item a {
    display: flex;
    color: var(--text-primary);
    padding-top: 1em;
    margin: 0;
    letter-spacing: 0.2ch;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    height: 2rem;
    transition: var(--transition-speed);
}

.item a:hover {
    text-decoration: none;
    /*filter: grayscale(0%) opacity(1);*/
    background: var(--bg-btn-secondary);
    color: var(--text-main);
    border-radius: 4px;
    cursor: pointer;
}

.item a.active {
    color: var(--text-secondary);
    transition: var(--transition-speed);
}

.item a.active:hover {
    color: var(--text-main);
}