.descriptionBlock {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: normal;
    align-items: flex-start;
    text-align: start;
    font-size: 25px;
    border-radius: 4px;
    background: var(--bg-secondary);
}

.descriptionBlock img{
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.items {
    display: flex;
    flex-direction: column;
}

.items .name{

}

.statusStaticMode {
    color: var(--text-primary);
    font-size: 23px;
    cursor: pointer;
}

.statusStaticMode:hover {
    color: var(--text-secondary);
    opacity: 1;
}

.statusEditMode {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 220px;
}

.statusDefault{
    opacity: 0.5;
}


