.descriptionBlock {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    justify-content: normal;
    align-items: flex-start;

    text-align: start;
    font-size: 25px;
}

.descriptionBlock img{
    padding: 10px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}