.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.field {

}

.pass {

}

.iconPass {
    position: relative;
    right: 20px;
    top: 50%;
    transform: translate(-50%);
    cursor: pointer;
}

.items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.checkBox {

}

.loginButton {
    margin-left: 10px;
}

.loginButton button {
    cursor: pointer;
}