.loginPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid grey 1px;
}

.loginForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.loginButton{
    margin-left: 10px;
}