:root {
    --text-primary: #8c91b6;
    --text-secondary: #fc3677;
    --text-main: #e0e0e0;

    --bg-primary: #d4d4e1;
    --bg-secondary: #263648;
    --bg-main: #182636;

    --bg-window-primary: #c1cad2;
    --bg-btn-primary: #c41c3c;
    --bg-hover-primary: linear-gradient(to right, #182636, rgba(196, 28, 60, 0.58));

    --transition-speed: all 0.4s;
}

.app-main {
    background: var(--bg-main) center fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 100vh;
    min-width: 100vh;;
}

.app-wrapper {
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-areas:
  'h h h'
  'n c indent';
    grid-template-rows: 75px 1fr;
    grid-template-columns: 2fr 9fr 2fr;
    grid-gap: 10px;
}

.app-wrapper-content {
    background: var(--bg-primary);
    grid-area: c;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
