
.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px ;
    height: 850px;
    background-color: white;
    background-image: url("assets/images/appBackroundImage.png");

    grid-template-areas:
  'h h'
  'n c';

    grid-template-rows: 75px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
}

/*.header {
    grid-area: h;
}*/

.app-wrapper-content {
    grid-area: c;
    /*
    background-color: #4E5D74;
    */
    background-color: #edeef0;
    opacity: 0.89;
    border-radius: 4px;
}
.app-wrapper-content img {
    width: 1000px;
    height: 200px;
    opacity: 2;
}