.dialogsPage{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.dialogs .dialog {

}

.messages {
    padding: 10px;
}
.messages textArea{
    width:800px;
    max-width:800px;
    min-width:800px;
    height: 80px;
    max-height:80px;
    min-height:80px;
}

.messages .message {

}