.dialogsPage {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.dialogs .dialog {

}

.messages {
    padding: 10px;
}

.messageElements {
    background: var(--bg-window);
    border-radius: 4px;
    padding-bottom: 10px;
    width: 690px;
}

.inputAreaElements {
    display: flex;
    width: 690px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.messages textArea {
    width: 630px;
}

.messages .message {

}

