.dialogsPage {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs {
    padding: 10px;
}

.dialogs .dialog {

}

.messages {
    padding: 10px;
}

.messageElements {
    background: #d3d6d9;
    border-radius: 4px;
    padding-bottom: 10px;
    width: 600px;
}

.messages textArea {
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}

.messages .message {

}